div{
    background-color: #ECE5C7;
    border: solid;
    

}
h1 {
    display: block;
    font-size: 3em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
body {
    display: block;
    margin: 0px;
}